<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Booking Details" cardClass="table-card latest-activity-card" [options]="false">
      <div class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead>
          <tr>
            <th>Room No</th>
            <th>Room Type</th>
            <th>AC/Non AC</th>
            <th>Meal</th>
            <th>Phone</th>
            <th>Bed Capacity</th>
            <th>Room Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>101</td>
            <td>Delux</td>
            <td>AC</td>
            <td>Free Dinner</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-warning">Busy Cleaning</label></td>
            <td>2</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>102</td>
            <td>Double</td>
            <td>AC</td>
            <td>Free Breakfast</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-success">Cleaned</label></td>
            <td>5</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>103</td>
            <td>Single</td>
            <td>AC</td>
            <td>Free Lunch</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-danger">Dirty</label></td>
            <td>4</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>104</td>
            <td>Delux</td>
            <td>AC</td>
            <td>Free Dinner</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-warning">Busy Cleaning</label></td>
            <td>2</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>105</td>
            <td>Double</td>
            <td>AC</td>
            <td>Free Breakfast</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-success">Cleaned</label></td>
            <td>5</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>106</td>
            <td>Single</td>
            <td>AC</td>
            <td>Free Lunch</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-danger">Dirty</label></td>
            <td>4</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>107</td>
            <td>Delux</td>
            <td>AC</td>
            <td>Free Dinner</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-warning">Busy Cleaning</label></td>
            <td>2</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>108</td>
            <td>Double</td>
            <td>AC</td>
            <td>Free Breakfast</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-success">Cleaned</label></td>
            <td>5</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>109</td>
            <td>Single</td>
            <td>AC</td>
            <td>Free Lunch</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-danger">Dirty</label></td>
            <td>4</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>110</td>
            <td>Delux</td>
            <td>AC</td>
            <td>Free Dinner</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-warning">Busy Cleaning</label></td>
            <td>2</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>111</td>
            <td>Double</td>
            <td>AC</td>
            <td>Free Breakfast</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-success">Cleaned</label></td>
            <td>5</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>112</td>
            <td>Single</td>
            <td>AC</td>
            <td>Free Lunch</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-danger">Dirty</label></td>
            <td>4</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>113</td>
            <td>Delux</td>
            <td>AC</td>
            <td>Free Dinner</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-warning">Busy Cleaning</label></td>
            <td>2</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>114</td>
            <td>Double</td>
            <td>AC</td>
            <td>Free Breakfast</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-success">Cleaned</label></td>
            <td>5</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>115</td>
            <td>Single</td>
            <td>AC</td>
            <td>Free Lunch</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-danger">Dirty</label></td>
            <td>4</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>116</td>
            <td>Delux</td>
            <td>AC</td>
            <td>Free Dinner</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-warning">Busy Cleaning</label></td>
            <td>2</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>117</td>
            <td>Double</td>
            <td>AC</td>
            <td>Free Breakfast</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-success">Cleaned</label></td>
            <td>5</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>
          <tr>
            <td>118</td>
            <td>Single</td>
            <td>AC</td>
            <td>Free Lunch</td>
            <td>(123)123456</td>
            <td><label class="badge badge-light-danger">Dirty</label></td>
            <td>4</td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
          </tr>


          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
